/* Proxomitron Error Message Style Sheet */

.err1{font-size:18pt; font-weight:bold;}
.err2 A:visited, A:link, A:hover, A:active {font-size:14pt; color:#ffff00; text-decoration: none}
td{background-color:#336699; color:#00ff00;}

body{ 
  background-image: url(http://Local.ptron/Gradient.gif);
  background-color:#330044; 
  color:#00ff00; 
  }